body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navBtn{
  @apply text-white text-xs font-bold mx-1 cursor-pointer transition-all duration-300 hover:text-gray-500
  md:text-sm md:mx-4
}